<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h1>Bem-vindo(a) á Miwi</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/Vverde.jfif"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/calcapantalona.jfif"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img src="/assets/conjunto.jfif"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/camisa.jfif"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/vestidoflor.jfif"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/saia.jfif"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>A loja mais completa em roupas e acessórios exclusivos!</h1>
  <br>
  <ion-button expand="full" routerLink="/catalogo">
    Ver Produtos
  </ion-button>
</ion-content>

